/*
Palette temporaire
primary     : #303030
secondary   : #606060
accent      : #8f8f8f
(le #ffffff est également autorisé)
*/

/* base - . */
* {
    font-family: "Arial", sans-serif;
    text-decoration: none;
    background-color: #ffffff;
    color: #303030;
}
body {
    margin-top: 0px;
}

h1, strong {
    color: #303030;
}
h2, h3 {
    color: #606060;
}

.images {
    width: 50%;
}
.conteneur {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 90% 10%;
}

/* barre de navigation */
.barre-de-navigation {
    position: sticky;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(1, 100%);
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    top: 0;
    z-index: 1000;
}
a {
    text-decoration: underline;
}
.titre {
    width: 50px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-top: 10px;
    margin-left: 10px;
}

/* boutons - haut de page */
.navigation-entre-page {
    list-style-type: none;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    position: absolute;
    right: 0;
}
.navigation-entre-page a {
    float: left;
    text-align: center;
    align-content: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.2s; /* On active les transitions pour un effet *smooth* */
}
.navigation-entre-page a:hover {
    background-color: #8f8f8f;
    color: #303030;
    padding: 14px 18px;
}

.navigation-entre-page  a.actif {
    background-color: #8f8f8f;
    color: #ffffff;
}


.articles-exterieurs {
    width: 100%;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}
.ae-petit {
    width: fit-content;
}


.paragraphes {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    
}
.articles-centres {
    text-align: center;
}
.images {
    margin-top: 20px;
    margin-bottom: 10px;
    border-color: #303030;
    border-style: solid;
    border-radius: 10%;
}
.plus-petite-box {
    width: 50%;
    margin: 0 auto;
    line-height: 1.5;
}
p {
    text-align: justify;
}

/* INDEX */
.index * {
    color: #303030;
}

.index-image {
    width: 200px;
}

.index-interrogation {
    background-color: #ffffff;
    height: 200px;
}
.index-interrogation p {
    background-color: #ffffff;
    margin-left: 230px;
}

.index-negation {
    background-color: #ffffff;
    height: 200px;
}
.index-negation p {
    background-color: #ffffff;
    margin-left: 230px;
}

.index-propositions {
    background-color: #ffffff;
    height: 200px;
}
.index-propositions p {
    background-color: #ffffff;
    margin-left: 230px;
}

.left {
    text-align: left;
}


/* flèche - haut de page */

.fleche-haut {
    height: 50px;
    width: 50px;
}
.retour-haut-de-page {
    position:fixed;
    bottom: 0;
    right: 0;
    float: right;
    margin: 50px;
    border: none;
    box-shadow: 0px 0px 0px 1px #303030;
    transition: all 0.2s;
    
    z-index: 1;
    display: none;
}
.retour-haut-de-page:hover {
    box-shadow: 0px 0px 0px 3px #303030;
}


/* PROPOSITIONS */

.propositions * {
    color: #303030;
}
.propositions h1, .propositions strong {
    color: #303030;
}
.propositions h2, .propositions h3{
    color: #8f8f8f;
}
.propositions .navigation-entre-page a {
    color: #8f8f8f;
}
.propositions .navigation-entre-page a.actif {
    background: #8f8f8f;
    color: #ffffff;
}


/* INTERROGATION */

.interrogation * {
    color: #303030;
}
.interrogation h1, .interrogation strong {
    color: #303030;
}
.interrogation h2, .interrogation h3 {
    color: #8f8f8f;
}
.interrogation .navigation-entre-page a {
    color: #8f8f8f;
}
.interrogation .navigation-entre-page a.actif {
    background: #8f8f8f;
    color: #ffffff;
}


/* NEGATION */

.negation * {
    color: #303030;
}
.negation h1, .negation strong {
    color: #303030;
}
.negation h2, .negation h3 {
    color: #8f8f8f;
}
.negation .navigation-entre-page a {
    background: #ffffff;
    color: #8f8f8f;
}

.negation .navigation-entre-page a.actif {
    background: #8f8f8f;
    color: #ffffff;
}


/* QUIZ */

.quiz-body * {
    color: #303030;
}
.quiz-body h1, .quiz-body strong {
    color: #303030;
}

.quiz-body h2, .quiz-body h3 {
    color: #8f8f8f;
}

.quiz-body .navigation-entre-page a {
    color: #8f8f8f;
}

.quiz-body .navigation-entre-page a.actif {
    background: #8f8f8f;
    color: #ffffff;
}
